@import "./../../main.scss";

.demo-card {
    display: flex;     
    flex-direction: column;   
    position: absolute;
    // overflow-y: scroll;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    // background: linear-gradient(right bottom, rgba($light-blue,0.5), rgba($dark-blue,0.4)),
    // url('./../../assets/backgrounds/nature-animated-03.gif');
    background: linear-gradient(right bottom, rgba($light-blue,0.5), rgba($dark-blue,0.4)),
    url('./../../assets/backgrounds/nature-animated-03.gif');
    
    background-size: cover;
    background-blend-mode: color;
    @include clearfix;
    z-index: 0;

.card-container {
        // border: 1px solid white;
        width: 80%;
        height: 90vh;
        margin: 55px auto;            
    }//end:card-container    
}

.card {
    &__side {
        &--front {            
            .top-section {    
                height: 20vh;                            
                text-align: right;
                font-family: 'Lobster', cursive;
                font-size: 3rem;
                color: white;
                h1 {
                    margin: 10px 15px;
                }
            }//end:top-section

            .photo-section {
                position: relative;
                overflow: hidden;
                top: -5vh;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: 0 auto;
                z-index: 100;
                border: 5px solid white;
                img {
                    width: 110%;
                }
            }//end:photo-section

            .middle-section {
                display: block;
                position: relative;
                top: -22vh;
                font-size: 4rem;
                color: $card-blue-font;
                font-family: 'Dancing Script', cursive;
                position: relative;
                height: 42vh;
                background-color: white;
                background-size: cover; // Always try to fit the image inside the element
                background-position: top; //The top of the image always stays on top, the bottom can get cropped
                // border: 1px solid white;
                padding: 0px 10px;
                clip-path: polygon(0% 30%, 100% 0%, 100% 70%, 0% 100%);  //Adding a polygon so that the element will still get a shape

                p {
                    position: relative;
                    top:95px;
                }
            }//end:middle-section
            
            .bottom-section {                
                // border: 1px solid white;
                font-size: 3rem;
                text-align: center;
                background-color: rgb(51, 51, 51);
                height: 4vh;
                color: white;
                position: sticky;
                bottom: -5px;
                padding: 0px 10px;
                width: 100%;      
                p {
                    position: relative;
                    top:5px;
                }          
            }//end:bottom-section

        }//end:card__side--front
    }//end:card__side
}//end:card

