/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: This is where all the variables are defined
*/
/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: Common mixins will be provided here
*/
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Lobster");
html {
  height: 100%;
  font-size: 10px; }

body {
  /* Remember to use the other versions for IE 10 and older browsers! */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  color: #eee; }

@media (min-width: 160px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  html {
    font-size: 4px; } }

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  html {
    font-size: 4px; } }

@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  html {
    font-size: 6px; } }

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  html {
    font-size: 8px; } }

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  html {
    font-size: 10px; } }

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  html {
    font-size: 10px; } }

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  html {
    font-size: 12px; } }

/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: A place to have common utilities 
*/
.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.row {
  max-width: 114rem;
  padding: 0 15px;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3 * 2rem) / 4) + 2*(2rem)); }

@media (max-width: 320px) {
  /* smartphones, Android phones, landscape iPhone */
  .login section .login-modal-section {
    width: 50% !important; } }

@media (max-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .login section .login-modal-section {
    width: 50% !important; } }

@media (max-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .login section .login-modal-section {
    width: 50% !important; } }

@media (max-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .login section .login-modal-section {
    width: 50% !important; } }

@media (max-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .login section .login-modal-section {
    width: 50% !important; } }

@media (max-width: 1281px) {
  /* hi-res laptops and desktops */ }

body {
  font-family: 'lato', sans-serif; }
  body .login header {
    font-family: 'Pacifico', cursive; }
    body .login header .title {
      font-size: 4rem;
      text-shadow: 2px 2px 2px #969696; }
    body .login header .subtitle {
      font-size: 2.5rem;
      letter-spacing: 4px;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      text-shadow: 2px 2px 2px #969696; }

.login-modal {
  color: #362f2d;
  font-size: 1.5rem; }
  .login-modal__header h1 {
    font-size: 2rem; }
  .login-modal__header p {
    margin-top: 10px; }
  .login-modal__header span.fbtext {
    color: #3b5998; }
  .login-modal__header span.googletext {
    color: #dc4e41; }
  .login-modal__header span.twittertext {
    color: #55acee; }
  .login-modal__header span.githubtext {
    color: #114c82; }

.login-form-section form button {
  font-size: 1.5rem;
  color: white; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  width: 90%;
  height: 80vh; }
  .card__side {
    transition: all .8s ease;
    position: absolute;
    top: 0;
    height: inherit;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    padding: 5px 0px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2); }
    .card__side--front {
      background-color: #fff;
      background: linear-gradient(right bottom, rgba(104, 135, 230, 0.5), rgba(25, 53, 137, 0.4)), url("./../../assets/backgrounds/card-background-season-01.jpg");
      background-size: cover;
      background-blend-mode: color;
      color: #28b485; }
    .card__side--back {
      color: white;
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card--rotate .card__side--front {
    transform: rotateY(-180deg); }
  .card--rotate .card__side--back {
    transform: rotateY(0); }

@media (min-width: 690px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .demo-card .card-container {
    width: 50%; } }

@media (min-width: 800px) {
  /* big landscape tablets, laptops, and desktops */
  .demo-card .card-container {
    width: 36%; } }
