/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: This is where all the variables are defined
*/
/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: Common mixins will be provided here
*/
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
html {
  height: 100%;
  font-size: 10px; }

body {
  /* Remember to use the other versions for IE 10 and older browsers! */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  color: #eee; }

@media (min-width: 160px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  html {
    font-size: 4px; } }

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  html {
    font-size: 4px; } }

@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  html {
    font-size: 6px; } }

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  html {
    font-size: 8px; } }

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  html {
    font-size: 10px; } }

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  html {
    font-size: 10px; } }

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  html {
    font-size: 12px; } }

/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: A place to have common utilities 
*/
.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.row {
  max-width: 114rem;
  padding: 0 15px;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3 * 2rem) / 4) + 2*(2rem)); }

body {
  font-family: 'lato', sans-serif; }
  body .login header {
    font-family: 'Pacifico', cursive; }
    body .login header .title {
      font-size: 4rem;
      text-shadow: 2px 2px 2px #969696; }
    body .login header .subtitle {
      font-size: 2.5rem;
      letter-spacing: 4px;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      text-shadow: 2px 2px 2px #969696; }

.login-modal {
  color: #362f2d;
  font-size: 1.5rem; }
  .login-modal__header h1 {
    font-size: 2rem; }
  .login-modal__header p {
    margin-top: 10px; }
  .login-modal__header span.fbtext {
    color: #3b5998; }
  .login-modal__header span.googletext {
    color: #dc4e41; }
  .login-modal__header span.twittertext {
    color: #55acee; }
  .login-modal__header span.githubtext {
    color: #114c82; }

.login-form-section form button {
  font-size: 1.5rem;
  color: white; }

.login-modal {
  width: 100%;
  height: 65vh;
  border-radius: 20px;
  background-color: rgba(201, 201, 201, 0.267);
  -webkit-box-shadow: 10px 10px 19px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 19px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 19px -6px rgba(0, 0, 0, 0.75); }
  .login-modal__header {
    text-align: center;
    padding: 2px; }
    .login-modal__header h1 {
      display: block;
      margin: 5px 15px;
      padding: 5px 0;
      border-bottom: 1px solid #362f2d; }

.social-icons-section {
  padding: 0 10px 10px; }
  .social-icons-section img {
    cursor: pointer;
    margin: 0;
    display: inline-block;
    width: 15%;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all .2s; }
    .social-icons-section img:first-child {
      margin-left: 5%; }
    .social-icons-section img:not(:last-child) {
      margin-right: 10%; }
    .social-icons-section img:hover {
      transform: translateY(-5px) scale(1.03);
      -webkit-filter: none;
      filter: none; }

.login-form-section {
  border-top: 1px solid #362f2d;
  border-bottom: 1px solid #362f2d;
  margin: 5px 15px; }
  .login-form-section form {
    text-align: center;
    position: relative; }
    .login-form-section form input {
      position: relative;
      left: 0;
      display: block;
      border-radius: 15px;
      width: 90%;
      padding: 10px;
      margin: 10px auto; }
    .login-form-section form button {
      cursor: pointer;
      display: block;
      border: 1px solid #5577c0;
      background-color: #3b5998;
      width: 100%;
      border-radius: 15px;
      padding: 10px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 10px; }

.register-section {
  text-align: center; }
  .register-section a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 2px #969696; }
    .register-section a:hover {
      color: #dc4e41;
      text-decoration: underline; }

textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus {
  outline: 0px !important; }
