@import "./../../main.scss";

.login-modal {    
    width: 100%;
    height: 70vh;
    border-radius: 20px;
    background-color: $color-modal-background;
    @include box-shadow-effect-02;
    
    &__header {
        text-align: center;
        padding: 2px;
        h1 {
            display: block;
            margin: 5px 15px;
            padding: 5px 0;
            border-bottom: 1px solid $color-modal-text;            
        }
    }//end:header
}//end:login-modal

.social-icons-section {
    // border: 1px solid white;
    padding: 0 10px 10px;
    img {
        cursor: pointer;
        margin: 0;
        // border: 1px solid red;
        display: inline-block;
        width: 15%;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        transition: all .2s;

        &:first-child {
            margin-left: 5%;
        }
        &:not(:last-child) {
            margin-right: 10%;
        }
        &:hover {
            transform: translateY(-5px) scale(1.03);
            -webkit-filter: none;
            filter: none;
        }
    }
}//end:social-icons-section