// Pramod AJ
// All Base CSS definitions come here

html {
    height: 100%;
    font-size: 10px;
}
 
 body {
 /* Remember to use the other versions for IE 10 and older browsers! */
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100%;
 color: #eee;
 }

 @media (min-width:160px)  { 
     /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
     html {
         font-size: 4px;
     }
     
}

@media (min-width:320px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    html {
        font-size: 4px;
    }
    
}
@media (min-width:480px)  { 
    /* smartphones, Android phones, landscape iPhone */
    html {
        font-size: 6px;
    }
}
@media (min-width:600px)  { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    html {
        font-size: 8px;
    }
}
@media (min-width:801px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    html {
        font-size: 10px;
    }
}
@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    html {
        font-size: 10px;
    }
}
@media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 
    html {
        font-size: 12px;
    }
}