/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: Common mixins will be provided here
*/

@mixin clearfix {
    &::after{
        content:""; //Without the content ppty, a pseudo-element will not appear on the page.
        display: table; // Standard version of the clearfix
        clear:both;
    }
}//end:clearfix

@mixin style-link-text($color) { // @include style-link-text($color-text-light);
    text-decoration: none;
    text-transform: uppercase;
    color: $color;
}//end:style-link-text

@mixin blur-effect  {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}//end:blur-effect

@mixin clear-blur-effect  {    
    filter: none;
}//end:blur-effect

@mixin create-font-shadow {
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

@mixin box-shadow-effect {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}