// Pramod AJ
// All type fonts are defined here

@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Pacifico');


body {
    font-family: 'lato', sans-serif;
    .login {
        header {
            font-family: 'Pacifico', cursive;
            .title {
                font-size: 4rem;
                @include create-font-shadow;
            }
            .subtitle {
                font-size: 2.5rem;
                letter-spacing: 4px;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
                @include create-font-shadow;
            }
        }
    }
}//end:body

.login-modal {
    color: $color-modal-text;
    font-size:1.5rem;    
    &__header {
        h1 {            
            font-size:2rem;
        }
        p {
            margin-top: 10px;
        }
        span {
            &.fbtext {
                color: $color-facebook;
            }
            &.googletext {
                color: $color-google;
            }
            &.twittertext {
                color: $color-twitter;
            }
            &.githubtext {
                color: $color-github;
            }
        }//end:span
    }//end:header
}//end:login-modal
