// Pramod AJ
// All type fonts are defined here

@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,300,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico');


body {
    font-family: 'lato', sans-serif;
    .login {
        header {
            font-family: 'Pacifico', cursive;
            .title {
                font-size: 4rem;
                @include create-font-shadow;
            }
        }
    }
}//end:body
