/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: A place to have common utilities 
*/

.u-center-text {
    text-align: center;
}//end:u-center-text

.u-margin-bottom-big {
    margin-bottom: 8rem;
}//end:u-margin-bottom-big

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}//end:u-margin-bottom-medium

.u-margin-bottom-small {
    margin-bottom: 2rem;
}//end:u-margin-bottom-small