/*
* author: Pramod AJ
* date: 29th Nov 2017
* description: This is where all the variables are defined
*/

//Background Colors
$light-green: rgba(126,213,111,0.8);
$medium-green: #55c57a;
$dark-green: rgba(40,180,131,0.8);

$button-grey:#777;
$color-white:#fff;
$color-black:#000;
$color-grey-light-01:#f7f7f7;
$color-dull-white:#eee;

//Button Colors
$color-primary:$medium-green;
$button-grey:#777;
$button-green: rgb(41, 182, 128);
$button-blue: rgb(39, 112, 214);
$button-red: rgb(201, 24, 24);
$button-gold: rgb(236, 178, 76);

//Text colors
$color-text-light:rgb(255, 255, 255);

//Grid Variables
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:2rem;

//Font sizes
$default-font-size: 1.2rem;

//Rotating Cards Color
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;